# UoE-gundam
CUDA_PATH       /usr/local/cuda-11.2
FFTW2_PATH      
FFTW3_PATH      /home/edward/Library/fftw/3.3.8
MPI_PATH        /opt/intel/oneapi/mpi/2021.4.0
HDF5_PATH       /home/edward/Library/hdf5/1.10.3
GRACKLE_PATH    /home/edward/Library/grackle/3.2dev
GSL_PATH        /home/edward/Library/gsl/2.6
LIBYT_PATH


# compilers
CXX     icpc
CXX_MPI mpicxx

# flags
# CXXFLAG -cxx=icpc
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -fp-model precise
#CXXFLAG -std=c++11
#CXXFLAG -gxx-name=YOUR_G++
CXXFLAG -w1
CXXFLAG -Wno-unknown-pragmas -diag-disable 3180

OPENMPFLAG -fopenmp

LIBFLAG -limf

CUDAFLAG

# for debugging
#CXXFLAG -fstack-protector-all
#CXXFLAG -fstack-protector-strong  # somehow it can capture issues not detected by -fstack-protector-all
#LIBFLAG -lssp
